*
{
margin:0px
}
header
{
height:200px;
background-color:lime;
color:white;
}
footer
{height:50px;
background-color:lime;
color:blue;

}
ul li
{
display:inline-block;;
margin-right:20px;
}
ul li a
{
color:black
}
section
{ height:200px;
background-color:green;
color:red;
}
