<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <link rel="stylesheet" href="{% static 'one.css'%}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>This is about page</h1>
<header>
    <ul>
        <li><a href="/home"><h2>Home</h2></a></li>
    </ul>
    <marquee><h1 style="color:purple">Detailed information about school and principle!</h1></marquee>
</header>
<section>

<h1>Principal/Faculty name:</h1>
    <h2>Contact: +917897****99</h2>
    <img src="static/pho.png">
</section>
<footer></footer>
</body>
</html>